*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* BUTTON1 CSS */

.button1 {
  outline: 0;
  padding: 16px;
  font-size: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-radius: 6px;
  border: 0;
  position: relative;
  background-color: #9b9ba3;
  color: #fff;
  cursor: pointer;
}

.button1 .arrow {
  position: absolute;
  width: 16px;
  height: 16px;
  border-right: 3px solid #a9d4ad;
  border-bottom: 3px solid #a9d4ad;
  transition: all 0.3s ease-in-out;
}

.button1 .arrow-one {
  top: 0;
  left: 0;
}

.button1 .arrow-two {
  top: 0;
  right: 0;
  rotate: 90deg;
}

.button1 .arrow-four {
  bottom: 0;
  left: 0;
  rotate: 270deg;

}

.button1 .arrow-three {
  bottom: 0;
  right: 0;
  rotate: 180deg;
}

.button1:hover .arrow-one {
  rotate: -180deg;
}

.button1:hover .arrow-two {
  rotate: 270deg;
}

.button1:hover .arrow-three {
  rotate: 0deg;
}

.button1:hover .arrow-four {
  rotate: 450deg;
}

/* BUTTON2 CSS */

.button2 {
  outline: 0;
  padding: 16px;
  font-size: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-radius: 6px;
  border: 0;
  position: relative;
  background-color:yellowgreen;
  color: #fff;
  cursor: pointer;
}

.button2 .arrow {
  position: absolute;
  width: 16px;
  height: 16px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transition: all 0.5s ease-in-out;
}

.button2 .arrow-one {
  top: 0;
  left: 0;
}

.button2 .arrow-two {
  top: 0;
  right: 0;
  rotate: 90deg;
}

.button2 .arrow-four {
  bottom: 0;
  left: 0;
  rotate: 270deg;
}

.button2 .arrow-three {
  bottom: 0;
  right: 0;
  rotate: 180deg;
}

.button2:hover .arrow-one {
  top: calc(100% - 16px);
  left: calc(100% - 16px);
}

.button2:hover .arrow-two {
  top: calc(100% - 16px);
  right: calc(100% - 16px);
}

.button2:hover .arrow-three {
  bottom: calc(100% - 16px);
  right: calc(100% - 16px);

}

.button2:hover .arrow-four {
  bottom: calc(100% - 16px);
  left: calc(100% - 16px);
}

/* BUTTON3 CSS */

.button3 {
  outline: 0;
  padding: 16px;
  font-size: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-radius: 6px;
  border: 0;
  position: relative;
  background-color: tomato;
  color: #fff;
  cursor: pointer;
}

.button3 .arrow {
  position: absolute;
  width: 16px;
  height: 16px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transition: all 0.5s ease-in-out;
}

.button3 .arrow-one {
  top: 0;
  left: 0;
}

.button3 .arrow-two {
  top: 0;
  right: 0;
  rotate: 90deg;
}

.button3 .arrow-four {
  bottom: 0;
  left: 0;
  rotate: 270deg;
}

.button3 .arrow-three {
  bottom: 0;
  right: 0;
  rotate: 180deg;
}

.button3:hover .arrow-one {
  width: 100%;
  height: 100%;
}

.button3:hover .arrow-three {
  width: 100%;
  height: 100%;
}